.login.background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background: url(../sendIT-parcel1.jpg);
	background-size: cover;
}
.login{
	margin: auto 0;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}
.login-wrapper{
	z-index: 2;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 40%;
	margin: 10% 30%;
}
.login-wrapper h3{
	text-align: center;
	margin: 20px 0px 0px 0px;
	color: white;
}
.login-wrapper form{
	padding: 25px;
}
.login-wrapper form input[type='email'], .login-wrapper form input[type='password'], .login-wrapper form input[type='text']{
	border-radius: 0px;
	border: 1.5px solid #4CAF50;
	background: #f9f9ff;
}
.login-wrapper form input[type='email']:focus, .login-wrapper form input[type='password']:focus, .login-wrapper form input[type='text']:focus{
	box-shadow: none;
}
.login-wrapper form div.form-group label{
	color: whitesmoke;
}
.login-wrapper form p{
	color: whitesmoke;
	margin-top: 0px;
}
.login-wrapper form p a{
	text-decoration: none;
	color: #007bff;
}
.login-wrapper form button#login-button, #signup-button{
	color: #fff;
	background: #4CAF50;
	border-radius: 0px;
	border: none;
}
#register{
	background: transparent;
	border: none;
}
#reset-password{
	background: transparent;
	border: none;
}
#login-button, #signup-button, #create-button{
	margin-left: 40%;
	background: #4CAF50;
}
.article-container article{
	margin-bottom: 40px;
}
.article-container article img{
	width: 100%;
	height: 368px;
}
article .article-text{
	padding: 0px 20px;
}
article .article-text .inner-text{
	background: #fff;
	position: relative;
	padding: 40px;
	box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
}
.inner-text a{
	text-decoration: none;
	color: #000;
}
.inner-text a.category{
	display: inline-block;
	padding: 5px 20px;
	border: 1px solid #ff2f92;
	border-radius: 15px;
	color: #777777;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 20px;
}
.inner-text div{
	color: #777777;
	font-size: 14px;
	line-height: 24px;
}
.table td{
	border: none !important;
}
.inner-text .date a{
	color: #777777;
	font-size: 12px;
	margin-right: 25px;
}
.inner-text .date a i{
	font-size: 14px;
	margin-right: 5px;
}
.inner-text .article-title{
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 0.1em;
}
.header-title{
	font-size: 50px;
	padding: 15px;
	text-align: center;
}
.profile-img{
	padding: 0px;
	margin-right: 15px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
}
nav.navbar{
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #4CAF50;
}
ul.nav li.nav-item a{
	padding:15px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
ul.nav li.nav-item a.create{
	text-transform: capitalize;
	border: 2px solid #fff;
	padding: 7px 15px;
	border-radius: 30px;
}
ul.nav li.nav-item.active a{
	background-color: #4CAF50;
}
ul.nav li.nav-item a.profile-img{
	padding: 0px;
	margin-right: 15px;
}
ul.nav li.nav-item a img{
	height: 45px;
	width: 45px;
	border-radius: 50%;
}
.dropdown-toggle::after{
	display: none;
}
ul.nav li.nav-item a.dropdown-item{
	color: #ff2f92;
	text-transform: lowercase;
	font-size: 16px;
	text-transform: capitalize;
}
ul.nav li.nav-item a.dropdown-item:hover{
	background-color: #ff2f92;
	color: #fff;
}
ul.nav li.nav-item a.dropdown-item i{
	margin-right: 5px;
}
ul.nav li.nav-item .dropdown-menu h3{
	font-size: 20px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}
